/* 1.顶部 */
.topbar {
    height: 28px;
    background-color: black;
}

.topbar .container {
    height: 28px;
}

.topbar .container p {
    color: #fff;
    height: 28px;
    line-height: 28px;
}

.topbar .container p:first-child {
    text-indent: 210px;
}

.topbar .container p:first-child a {
    color: #fff;
}

.topbar .container p:nth-child(2) {
    margin-right: 10px;
}

.topbar .container p:nth-child(2) a:not(.login) {
    color: #ff6700;
}

.topbar .container p:nth-child(2) .login {
    color: #fff;
}

.topbar .container p:first-child a {
    color: #fff;
}

/* 2.导航 */
.nav {
    height: 85px;
    background-color: #fff;
}

.nav .search-shopcart-order {
    margin-top: 5px;
    height: 35px;
}

.nav .search-shopcart-order .shopcart-order {
    width: 200px;
    height: 35px;
    font-size: 0;
}

.nav .search-shopcart-order .shopcart-order button {
    width: 100px;
    height: 35px;
    color: #333;
    border: 1px solid #ccc;
    background-color: #ebebeb;

}

.nav .search-shopcart-order .shopcart-order button:nth-child(1) {
    background-color: #ff6700;
    background-image: url(../img/bgicon.png);
    background-position: -2px -44px;
}

.nav .search-shopcart-order .search-input {
    position: relative;
    margin-right: 40px;
    width: 440px;
    height: 35px;
    border: 2px solid #ff6700;
    background-color: #ff6700;
}

.nav .search-shopcart-order .search-input span {
    position: absolute;
    top: 0;
    right: 0;
    height: 33px;
    width: 50px;
    background: url(../img/bgicon.png);
}

.nav .search-shopcart-order .search-input .search {
    width: 390px;
    height: 31px;
    text-indent: 10px;
    color: #ccc;
}

.nav .category-menu {
    margin-top: 15px;
    height: 30px;
}

.nav .category-menu .left-logo {
    position: relative;
    width: 200px;
    height: 30px;
    background-color: green;
}

.nav .category-menu .left-logo img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav .category-menu ul {
    width: 1000px;
    height: 30px;
}

.nav .category-menu ul li {
    float: left;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    line-height: 30px;
    padding: 0 22px;
}

.nav .category-menu ul li a:hover {
    color: #ff6700;
}

/* 3.分类导航和banner */
.menu {
    height: 430px;
}

.menu .sidemenu {
    width: 200px;
    height: 430px;
}

.menu .sidemenu ul {
    position: relative;
    width: 200px;
    height: 430px;
    background-color: #f3f3f3;
}

.menu .sidemenu ul li {
    width: 200px;
    height: 30px;
    line-height: 30px;
    color: #353535;
    font-size: 15px;
    text-indent: 20px;
}

.menu .sidemenu ul li a {
    color: #353535;
}

.menu .sidemenu ul li:hover {
    background-color: #ccc;
}

.menu .sidemenu ul li .title {
    height: 30px;
    width: 200px;
    line-height: 30px;
}

.menu .sidemenu ul li:hover .title {
    position: absolute;
    z-index: 99;
    background-color: #fff;
}

.menu .sidemenu ul li:hover .submenu {
    display: block;
}

.menu .sidemenu ul li a:hover {
    color: #ff6700;
}

.menu .sidemenu ul li .submenu {
    display: none;
    position: absolute;
    left: 200px;
    top: 0px;
    z-index: 99;
    height: 430px;
    width: 500px;
    font-size: 18px;
    color: #ccc;
    border: 2px solid #ff6700;
    background-color: #ff6700;
}

.menu .banner {
    width: 1000px;
    height: 430px;
}

/* 4.今日推荐 */
.recommend {
    height: 544px;
}

.recommend .title {
    width: 1175px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #ff6700;
    margin-top: 10px;
    margin-left: 5px;
    text-indent: 24px;
    background-color: #fff;
    border-bottom: 3px solid #ff6700;
}

.recommend .recommend-content {
    width: 1190px;
    height: 490px;
    margin: 0 auto;
}

.recommend .recommend-content ul {
    width: 1190px;
    height: 490px;
    margin: 0 auto;

}

.recommend .recommend-content ul li {
    float: left;
    width: 196px;
    height: 247px;
    text-align: center;
    border: 2px solid #ff6700;
}

.recommend .recommend-content ul li .left {
    text-indent: 0;
}

.recommend .recommend-content ul li p {
    text-align: left;
    text-indent: 10px;
    font-size: 14px;
}

.recommend .recommend-content ul li p.he {
    font-size: 16px;
    font-weight: 600;
}

.recommend .recommend-content ul li p.text {
    color: red;
}

.recommend .recommend-content ul li p.price {
    color: red;
    font-size: 20px;
    margin-top: 2px;
}

/* 5.电子书 */
.ebooks {
    height: 496px;
    margin-top: 34px;
}

.ebooks .left-box {
    width: 906px;
    height: 496px;
}

.ebooks .left-box .top {
    width: 906px;
    height: 40px;
    line-height: 40px;
    border-bottom: 6px solid #ff6700;
}

.ebooks .left-box .top .title {
    font-size: 24px;
    color: #ff6700;
    text-indent: 24px;
}

.ebooks .left-box .top ul li {
    float: left;
    font-size: 18px;
    padding: 0 20px;
}

.ebooks .left-box .top ul li.active {
    color: #fff;
    background-color: #ff6700;
}

.ebooks .left-box .content {
    width: 906px;
    height: 456px;
    /* background-color: #ccc; */
}

.ebooks .left-box .content .ads {
    width: 236px;
    height: 450px;
    background-color: #f9f9f9;
}

.ebooks .left-box .content .ads img {
    width: 236px;
    height: 290px;
}

.ebooks .left-box .content .ads .bottom-text {
    width: 236px;
    height: 160px;
}

.ebooks .left-box .content .ads ul li {
    float: left;
    width: 78px;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
}

.ebooks .left-box .content .ebooks-list {
    width: 670px;
    height: 450px;
    background-color: #ccc;
}

.ebooks .left-box .content .ebooks-list>ul>li {
    float: left;
    width: 165px;
    height: 223px;
    text-align: center;
    background-color: #fff;
    margin-left: 2px;
    margin-bottom: 3px;
}

.ebooks .left-box .content .ebooks-list ul li p {
    text-align: left;
    text-indent: 8px;
}

.ebooks .left-box .content .ebooks-list ul li p:nth-child(1) {
    font-size: 18px;
    margin-top: 15px;
}

.ebooks .left-box .content .ebooks-list ul li p:nth-child(2) {
    color: red;
    font-size: 14px;
}

.ebooks .left-box .content .ebooks-list ul li p:nth-child(4) {
    display: inline-block;
    color: red;
    font-size: 22px;
    margin-left: -35px;
    margin-top: 5px;
}

.ebooks .left-box .content .ebooks-list ul li p:nth-child(5) {
    display: inline-block;
    font-size: 24px;
    text-decoration: line-through;
    color: #ccc;
}

.ebooks .left-box .content .ebooks-list ul li:first-child {
    width: 332px;
    height: 223px;
    background-color: green;
}

/* .ebooks .right-box {
    width: 286px;
    height: 496px; 
} */
.ebooks .right-box {
    width: 286px;
    height: 456px;
    margin-top: 34px;
    border: 2px solid #ccc;
}

.ebooks .right-box .title {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
}

.ebooks .right-box ul li {
    line-height: 42px;
    font-size: 17px;
    text-indent: 5px;
}

.ebooks .right-box ul li:first-child p:first-child {
    display: none;
}

.ebooks .right-box ul li .desc {
    height: 150px;
    line-height: 18px;
    font-size: 14px;
    display: none;
}

.ebooks .right-box ul li .desc img {
    margin: 0 8px 0 8px;
}

.ebooks .right-box ul li:first-child .ebooks-title {
    display: none;
}

.ebooks .right-box ul li:first-child .desc {
    display: block;
}

/* 6.服装 */
.clothes {
    height: 600px;
}

.clothes .top {
    width: 1200px;
    height: 45px;
    font-size: 18px;
    line-height: 40px;
    text-indent: 24px;
    margin-top: 30px;
    border-bottom: 6px solid #ff6700;
}

.clothes .top ul li {
    float: right;
    padding-right: 20px;
}

.clothes .top ul li.active {
    color: #fff;
    background-color: #ff6700;
}

.clothes .center {
    height: 500px;
}

.clothes .center .zuo {
    width: 237px;
    height: 500px;
}

.clothes .center .zuo ul li {
    float: left;
    width: 79px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-indent: 10px;
}

.clothes .center .table {
    width: 431px;
    height: 500px;
}

.clothes .center .table .up {
    width: 431px;
    height: 350px;
}

.clothes .center .you {
    width: 532px;
    height: 500px;
}

.clothes .center .you .up ul li {
    float: left;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.clothes .center .you .down ul li {
    float: left;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.clothes .bottom {
    height: 63px;
}

.clothes .bottom ul li {
    float: left;
}

/* 7.户外运动 */
.sport {
    height: 600px;
}

.sport .top {
    width: 1200px;
    height: 45px;
    font-size: 18px;
    line-height: 40px;
    text-indent: 24px;
    margin-top: 30px;
    border-bottom: 6px solid #ff6700;
}

.sport .top ul li {
    float: right;
    padding-right: 20px;
}

.sport .top ul li.active {
    color: #fff;
    background-color: #ff6700;
}

.sport .center {
    height: 500px;
}

.sport .center .zuo {
    width: 237px;
    height: 500px;
}

.sport .center .zuo ul li {
    float: left;
    width: 79px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-indent: 10px;
}

.sport .center .table {
    width: 431px;
    height: 500px;
}

.sport .center .table .up {
    width: 431px;
    height: 350px;
}

.sport .center .you {
    width: 532px;
    height: 500px;
}

.sport .center .you .up ul li {
    float: left;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.sport .center .you .down ul li {
    float: left;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.sport .bottom {
    height: 63px;
}

.sport .bottom ul li {
    float: left;
}

/* 8.童装 */
.children-clothes {
    height: 600px;
}

.children-clothes .top {
    width: 1200px;
    height: 45px;
    font-size: 18px;
    line-height: 40px;
    text-indent: 24px;
    margin-top: 30px;
    border-bottom: 6px solid #ff6700;
}

.children-clothes .top ul li {
    float: right;
    padding-right: 20px;
}

.children-clothes .top ul li.active {
    color: #fff;
    background-color: #ff6700;
}

.children-clothes .center {
    height: 500px;
}

.children-clothes .center .zuo {
    width: 237px;
    height: 500px;
}

.children-clothes .center .zuo ul li {
    float: left;
    width: 79px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-indent: 10px;
}

.children-clothes .center .table {
    width: 431px;
    height: 500px;
}

.children-clothes .center .table .up {
    width: 431px;
    height: 350px;
}

.children-clothes .center .you {
    width: 532px;
    height: 500px;
}

.children-clothes .center .you .up ul li {
    float: left;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.children-clothes .center .you .down ul li {
    float: left;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.children-clothes .bottom {
    height: 63px;
}

.children-clothes .bottom ul li {
    float: left;
}

/* 9.家具日用 */
.daily {
    height: 550px;
    margin-top: 30px;
}

.daily .top {
    height: 50px;
    line-height: 50px;
    text-indent: 20px;
    font-size: 18px;
    border-bottom: 6px solid #ff6700;
}

.daily .bottom {
    height: 500px;

}

.daily .bottom .left {
    float: left;
    width: 500px;
    height: 500px;
}

.daily .bottom .right-top {
    float: left;
}

.daily .bottom .right-top ul li {
    float: left;
    border-right: 2px solid #ccc;
    border-top: 2px solid #ccc;
}

.daily .bottom .right-bottom {
    float: left;
}

.daily .bottom .right-bottom ul li {
    float: left;
    border-right: 2px solid #ccc;
    border-top: 2px solid #ccc;
}

/* 10.推广商品 */
.promotion {
    height: 550px;
    margin-top: 30px;
}

.promotion .top {
    height: 50px;
    line-height: 50px;
    text-indent: 20px;
    font-size: 18px;
    border-bottom: 6px solid #ff6700;
}

.promotion .top ul li {
    float: left;
    font-family: 'icomoon';
}

.promotion .top ul li.active {
    color: #ff6700;
}

.promotion .bottom .out-box {
    width: 1200px;
    height: 600px;
    overflow: hidden;
}

.promotion .bottom .out-box .inner-box {
    position: relative;
    left: 0;
    width: 2400px;
    height: 600px;
}

.promotion .bottom .out-box .inner-box ul {
    width: 1200px;
    height: 600px;
}

.promotion .bottom .out-box .inner-box ul li {
    float: left;
    width: 240px;
    height: 250px;
    text-align: center;
    margin-top: 20px;
}

.promotion .bottom ul li p {
    width: 181px;
    padding-left: 62px;
    text-align: left;
}

.promotion .bottom ul li p:nth-of-type(2) {
    font-size: 22px;
    color: red;
}

.promotion .bottom ul li span em {
    color: red;
}

/* 11.尾部 */
.footer {
    height: 400px;
    margin-top: 80px;
}

.footer .top {
    height: 80px;
    line-height: 75px;
    padding-left: 350px;
    border-top: 6px solid #ff6700;
    background-color: #f2f2f2;
}

.footer .top img {
    padding: 0 40px;
}

.footer .bottom {
    position: relative;
    height: 320px;
}

.footer .bottom .jieshao {
    height: 150px;
    margin-left: 440px;
    margin-top: 30px;
}

.footer .bottom .jieshao dl {
    float: left;
    width: 130px;
    text-align: center;
    margin-right: 20px;
}

.footer .bottom .jieshao dt {
    font-size: 18px;
}

.footer .bottom .jieshao dd {
    color: #333;
    margin-top: 5px;
}

.footer .bottom .wangzhan {
    height: 30px;
    margin-left: 420px;
    margin-top: 10px;
}

.footer .bottom .wangzhan ul li {
    float: left;
    padding: 0 10px;
}

.footer .bottom p {
    margin-left: 600px;
}

.footer .bottom .logo {
    position: absolute;
    left: 1200px;
    top: 15px;
    background-color: #fff;
}