.register {
    width: 500px;
    height: 500px;
    margin: 30px auto;
}
.register h2 {
    font-size: 24px;
}
.register p {
    margin-bottom: 30px;
}
input {
    border: 1px solid black;
}

.register p input {
    width: 200px;
    height: 20px;
    outline: none;
}
.error {
    color: red;
}
.error:first-child {
    border: 1px solid red;
    color: #333;
}